*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#one{
    background:url("http://traversymedia.com/downloads/assets/beachshowcase.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;
    color: #926239;
    text-align: center;
    padding: 20%;
}
#one h1{
    font-size: 55px;
}
#one p{
    font-size: 25px;
    font-style: italic;
}
#one a{
    color: #926239;
    border: 1px solid #926239;

}
#one a:hover{
    color: #fff;
    background-color: #926239;
}
#two{
    background-color: #926239;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}
#three{
    background-color: #fff;
    color: #926239;
    text-align: center;
    padding: 10px 20px;
}
#four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.wd{
    width: 33.3%;
    margin: 10px;
}
.icon{
    color: aliceblue;
}
.icon a{
    opacity: 0.5;
}
.icon a:hover{
    opacity: 1;
}
.kh{
    background-color: #926239;
    color: #fff;
}
.wh{
    background-color: #fff;
    color: #926239;
}